<h1>Remiss <%= @referral.id %></h1>

<p>
Första loggningstillfälle:
<%= @referral.first_log_entry.event_type.code %>,
<%= l @referral.first_log_entry.logged_at, :format => :short %>
</p>

<p>
Sista loggningstillfälle:
<%= @referral.last_log_entry.event_type.code %>,
<%= l @referral.last_log_entry.logged_at, :format => :short %>
</p>

<p>
  Tid däremellan:
  <%= distance_of_time_in_words @referral.first_log_entry.logged_at, @referral.last_log_entry.logged_at %>
  (<%= @referral.days_from_first_to_last_log_entry %> dagar).
</p>

<h2>Loggat på denna remiss:</h2>
<% if @referral.log_entries.empty? %>
  <p>No log entries yet.</p>
<% else %>
  <%= render :partial => 'log_entries/table', :locals => { :log_entries => @referral.log_entries } %>
  </ul>
<% end %>

<p>
  <%= link_to 'Ändra', edit_referral_path(@referral) %>
</p>