<h1>Lista händelseförloppet</h1>

<table>
  <tr>
    <th>Kod:</th>
    <th>Kort förklaring:</th>
    <th>Logghändelser inom den händelse:</th>
  </tr>

<% @event_types.each do |event_type| %>
  <tr>
    <td><%=h event_type.code %></td>
    <td><%=h event_type.short_description %></td>
    <td><%= event_type.log_entries.count.to_i %></td>
    <td><%= link_to 'Visa', event_type %></td>
    <td><%= link_to 'Ändra', edit_event_type_path(event_type) %></td>
    <td><%= link_to 'Ta bort', event_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event_type', new_event_type_path %>