<h1><%=h @event_type.short_description %></h1>

<p>
  <b>Databaskod:</b>
  <%=h @event_type.code %>
</p>

<p>
  <b>Kort beskrivning:</b>
  <%=h @event_type.short_description %>
</p>

<p>
  <b>Lång beskrivning:</b>
  <%=h @event_type.long_description %>
</p>

<p>
  <b>Antal logginlägg av denna typ:</b>
  <%= @event_type.log_entries.length.to_i %>
</p>

<p>
  <b>Antal remisser med inlägg av denna typ:</b>
  <%= @event_type.referrals.uniq.length.to_i %>
</p>

<p>
  <b>Remisser redo för detta steg (men ej klara ännu):</b>
  <%= @event_type.referrals_unfinished.to_i %>
</p>

<%= link_to 'Ändra', edit_event_type_path(@event_type) %> |
<%= link_to 'Tillbaka', event_types_path %>