<h1><%=h @event_type.short_description %></h1>

<p>
  <b>Code:</b>
  <%=h @event_type.code %>
</p>

<p>
  <b>Short description:</b>
  <%=h @event_type.short_description %>
</p>

<p>
  <b>Long description:</b>
  <%=h @event_type.long_description %>
</p>

<p>
  <b>Antal logginl채gg av denna typ:</b>
  <%= @event_type.log_entries.length.to_i %>
</p>

<p>
  <b>Antal remisser med inl채gg av denna typ:</b>
  <%= @event_type.referrals.uniq.length.to_i %>
</p>

<p>
  <b>Remisser p책 detta steg (men ej klara 채nnu):</b>
  <%= @event_type.amount_referrals_completed_previous_but_not_current_step.to_i %>
</p>

<%= link_to 'Edit', edit_event_type_path(@event_type) %> |
<%= link_to 'Back', event_types_path %>